

.acievement {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 90px;
  }
  
  .leftSection,
  .rightSection {
    width: 45%;
  }
  
  .middleSection {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    font-family: Mirador;
    font-size: 30px;
    font-style: italic;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  
  .highlight {
    font-size: 30px;
    color: rgba(96, 189, 187, 1);
  }
  
  img {
    width: 100%;
  }
  
  .leftTop,
  .leftBottom,
  .rightMiddle {
    margin: 30px;
  }
  
  .leftTop {
    margin-right: 60px;
    margin-bottom: 60px;
  }
  
  .leftBottom {
  
    margin-top: 60px;
  }
  
  .left3 {
    width: 250px;
    height: 16px;
    margin-top: 150px;
    margin-left: 70px;
  }
  

  @media screen and (max-width: 600px) {
    .achievement {
      flex-direction: column;
      align-items: center;
    }
  
    .leftSection,
    .rightSection {
      width: 100%;
    }
  
    .middleSection {
      width: 100%;
      margin-top: 20px;
    }
  
    .text {
      font-size: 16px;
      line-height: 20px;
    }
  
    .highlight {
      font-size: 16px;
    }
  
    .leftTop,
    .leftBottom,
    .rightMiddle {
      margin: 10px;
    }
  
    .left3 {
      width: 150px;
      height: 8px;
      margin-top: 40px;
      margin-left: 10px;
    }
  }