.rank {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    padding: 100px;
  }
  
  .rankContainer {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 100px;
    height: 165px;
    border-radius: 17px;
    border-width: 2.5px;
    border-style: solid;
    border-color: rgba(185, 1, 36, 1);
  }
  
 
  
  .rankTitle {
    font-family: Mirador;
    font-size: 16px;
    font-style: italic;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0em;
    color:#B90124;
  }
  
  .rankSubtitle {
    margin-top: 2px;
    font-size: 16px;
  }
  
  .arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  